a {
  text-decoration: none;
  color: #1d3557;
  text-transform: capitalize;
  text-align: center;
  padding: 5px 0px;
}

input[type="file"] {
  display: none;
}
label {
  cursor: pointer;
  padding: 28px 10px;
  color: #fff;
  background: #00f;
  border-radius: 50%;
}
