<span (click)="deleteAll()">Delete All</span>
<div class="wrapper" [ngClass]="message.selected?'selected':''" (click)="onClick()">
  <div class="message-list-item">
    <h2>{{message.user}}<span *ngIf="!message.read" class="notification"></span></h2>
    <p>{{message.message}}</p>
    <span>{{message.createdAt}}</span>
    <!-- <a routerLink="message/view" routerLinkActive="active">test</a> -->
  </div>
  <div class="icon">
    <mat-icon aria-label="arrow_icon">arrow_forward_ios</mat-icon>
  </div>
</div>
