@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 80%;
  margin: 0px auto;
  overflow: hidden;
  border: 1px solid steelblue;
  height: 100%;
  padding: 20px;
  max-height: 100vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center {
  /* height: 80vh; */
  width: 60vh;
  margin: 0px auto;
  border: 1px solid #457B9D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
}
.btn-block{
  width: 100%;
  display: block;
}
input[type=text]:focus {
  background-color: #A8DADC;
}
input[type=text]:focus {
  border: 2px solid #1D3557;
}
input{
  outline: none;
}
input{
  width: 100%;
  margin: 10px auto;
  padding: 15px;
}
.error{
  border: 2px solid #E63946;
}
