@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 80%;
  margin: 0px auto;
  overflow: hidden;
  /* border: 1px solid steelblue; */
  height: 100%;
  padding: 20px;
  max-height: 100vh;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  width: 60vh;
  border: 1px solid #457b9d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 25px;
  position: absolute;
  top: 50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* background-color: #A8DADC; */
}
/*
.center {
  /* height: 80vh; */
  /* width: 60vh;
  margin: 10vh auto;
  border: 1px solid #457b9d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 25px; */
  /* background-color: #A8DADC; */
/* }  */
.btn-block {
  width: 100%;
  display: block;
}
input[type="text"]:focus {
  background-color: #a8dadc;
}
input[type="text"]:focus {
  border: 2px solid #1d3557;
}
input {
  outline: none;
  margin: 5px;
}
input {
  width: 100%;
  margin: 10px auto;
  padding: 15px;
}
.error {
  border: 2px solid #e63946;
}
textarea {
  width: 100%;
  outline: none;
  padding: 15px;
}
textarea:focus {
  border: 2px solid #1d3557;
  background-color: #a8dadc;
}
a {
  text-decoration: none;
  color: #1d3557;
  text-transform: capitalize;
  text-align: center;
  padding: 5px 0px;
}
span{
  font-size: 0.7rem;
}
input,textarea{
  border: 1px solid #1d3557;
}
.btn {
  display: inline-block;
  background: #1d3557;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px 0px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}

