.message-body {
  padding: 0px 20px;
  text-align: left;
  position: relative;
  height: 100%;
  max-height: 95%;
  overflow-y: scroll;
}
h2 {
  margin-bottom: 15px;
  color: #1d3557;
}
span {
  position: absolute;
  bottom: 0px;
  right: 10px;
}
.no-selected > h2 {
  text-align: center;
}
.no-selected {
  position: absolute;
  top: 50%;
  left:75%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
